@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101820;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body {
  background-color: #000000; /* Dark background color */
  background-image: 
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px), /* Adjusted line color to very light gray */
    linear-gradient(180deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px); /* Same adjustment */
  background-size: 10px 10px; /* Size of the grid */
  color: #FFFFFF; /* Text color for contrast */
}